@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&display=swap');
body{
    font-family: 'Goudy Bookletter 1911', serif;
}

.drink-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.drink-name{
    font-size: 36px;
}

.drink-price{
    font-size: 24px;
    font-style: oblique;
}

.drink-desc{
    margin: 8px;
    font-size: 20px;
}

.drink-info{
    font-weight: bold;
    display: flex;
    justify-content: center;
}

div.ounces{
    padding: 10px;
}

div.ingredients{
    padding: 10px;
}

div.milliliters{
    padding: 10px;
}

span.ounces{
    padding: 10px;
}

span.ingredients{
    padding: 10px;
}

span.milliliters{
    padding: 10px;
}

.millilters {
    padding: 5px;
    margin: 5px;
}