@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&display=swap');
body{
    font-family: 'Goudy Bookletter 1911', serif;
}

.drink-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.drink-name{
    font-size: 36px;
}

.drink-price{
    font-size: 24px;
    font-style: oblique;
}

.drink-desc{
    margin: 8px;
    font-size: 20px;
}

.drink-info {
    padding: 5px;
    margin: 5px;
}

.ounces {
    padding: 5px;
    margin: 5px;
}

.ingredients {
    padding: 5px;
    margin: 5px;
}

.millilters {
    padding: 5px;
    margin: 5px;
}