@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&display=swap');
body{
    font-family: 'Goudy Bookletter 1911', serif;
}

.drink-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.drink-name{
    font-size: 36px;
}

.drink-price{
    font-size: 24px;
    font-style: oblique;
}

.drink-desc{
    margin: 8px;
    font-size: 20px;
}

.drink-info {
    padding: 5px;
    margin: 5px;
}

.ounces {
    padding: 5px;
    margin: 5px;
}

.ingredients {
    padding: 5px;
    margin: 5px;
}

.millilters {
    padding: 5px;
    margin: 5px;
}

button {
        background-color:#DF5A42;
        border-radius:28px;
        border:1px solid #282C34;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:16px 31px;
        text-decoration: none;
        text-shadow:0px 1px 0px #282C34;
        width: 100px;
        align-self: center;
        margin-top: 10px;
}

button:hover {
	background-color:#ffffff;
}
button:active {
	position:relative;
	top:1px;
}
